{% extends "website_navbar.html" %}
{% load staticfiles %}

{% block extra_head %}
<title>Andrey Kurenkov's Site</title>
<LINK href="{% static "css/homepage.css" %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block extra_body %}	
	<div id="text">
	I am Andrey, and this text is temporary? Well, I am not sure about the design of this home page as of yet, really.
	One the one hand, this plain centered text does fit in with the minimal black and white thing this has going, I do like it
	(And I definitely did not decide on it just to minimize work). But, on the other hand, perhaps it is not all that impressive?
	And that is not representative of the effort I put into this site, and all. 
	Hey check out andreykurenkov.me while you are here.
	</div>
	
{% endblock %}


