{% extends "website_navbar.html" %}
{% load staticfiles %}

{% block extra_head %}

<LINK href="{% static "css/homepage.css" %}" rel="stylesheet" type="text/css">

{% endblock %}


{% block extra_body %}	
    <div id="left">
		
	</div>
	<div id="center">
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		I am Andrey I am Andrey
		
	</div>
	<div id="right">
		
	</div>
{% endblock %}


