<table id="workspecifictext">
		<col/>
		<tr>
			<td><h1>What</h1></td>
			<td><h2>{{project.what}}</h2></td>
		</tr>
		<tr>
			<td><h1>Where</h1></td>
			<td><h2>{{project.where}}</h2></td>
		</tr>
		<tr>
			<td><h1>When</h1></td>
			<td><h2>{{project.when}}</h2></td>
		</tr>
		<tr>
			<td><h1>Details</h1></td>
			<td><h2>{{project.details}}</h2></td>
		</tr>
</table>

<div id="workspecificimages">
	<ul>
		{%for image in projectimages%}
		<li><figure>
			<img src={{image.image}} alt={{image.alt}}>
			{%if image.caption%}
				<figcaption>{{image.caption}}</figcaption>
			{%endif%}
		</figure></li>
		{%endfor%}
	</ul>
</div>