

/* Done with Ajax now, should add link-based for non javascript eventually
#workmainmenu ul li:hover { 
	background-color: #fff; 
} 

#workmainmenu ul li:hover a{ 
	color: #000; 
	background-color: #fff; 
} 
*/
