* {
	margin:0;
	padding:0;
	outline:0;
}

html{
	height:100%;
}

body{
	height:100%;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
	
nav ul { 
	margin: 0; 
	padding: 5px; /* Set margin and padding for cross browser consistency. */ 
	list-style-type: none; /* Needed to eliminate list item marker */ 
	text-align: center; /* Centers navigation bar */ 
	background-color: #000; /* Set as desired */ 
} 

nav ul li { 
	display: inline; /* Needed to create horizontal effect */ 
} 

nav ul li a { 
	text-decoration: none; /* The setting of "none" allows the link to not be underlined. This is up to user preference. */ 
	padding: .2em 1em; /* Gives the link space inside it's individual block. */ 
	color: #fff; /* Set as desired */ 
	background-color: #000; /* Set as desired */ 
} 

nav ul li a:hover { 
	color: #000; 
	background-color: #fff; /* Both of these values create the "Rollover effect, Set as desired */ 
} 

::-webkit-scrollbar{
    width: 10px;
    padding-top: 40px;
}

::-webkit-scrollbar-track{
    border: 1px solid black;
    background: rgb(41,41,41);

}
::-webkit-scrollbar-thumb{
    height: 20px;
    width: 8px;
    border: 1px solid black;
    background: rgb(111,111,111);
    -webkit-box-shadow: 0 1px 1px rgb(0,0,0);
    background: -webkit-linear-gradient(rgb(200,200,200), rgb(150,150,150));
}

::-webkit-scrollbar-track-piece {
    height: 30px;
}

footer {
	text-align:center;
} 

<!--[if lte IE 7]><style type="text/css">#worksubmenu li{display:inline;}</style><![endif]-->